arviz==0.16.1
cachetools==5.3.2
cloudpickle==3.0.0
cons==0.4.6
contourpy==1.1.1
cycler==0.12.1
etuples==0.3.9
fastprogress==1.0.3
filelock==3.12.4
fonttools==4.43.1
h5netcdf==1.2.0
h5py==3.10.0
kiwisolver==1.4.5
logical-unification==0.4.6
matplotlib==3.8.0
miniKanren==1.0.3
multipledispatch==1.0.0
numpy==1.25.2
packaging==23.2
pandas==2.1.1
Pillow==10.1.0
pymc==5.9.1
pyparsing==3.1.1
pytensor==2.17.3
python-dateutil==2.8.2
pytz==2023.3.post1
scipy==1.11.3
six==1.16.0
-e git+ssh://git@github.com/tmolteno/specfit@90eb3f72071ed03ec5c86e794a2c6dd26928c858#egg=specfit
toolz==0.12.0
typing_extensions==4.8.0
tzdata==2023.3
xarray==2023.10.1
xarray-einstats==0.6.0
